body {
  color: white;
  background-color: rgb(0, 0, 0);
  font-family: Inter;
}

.heading {
  display: flex;
  align-items: center;
}

nav {
  list-style-type: none;
  margin-left: 160px;
  margin-top: 25px;
}

nav li {
  display: inline;
  margin: 10px;
}

.testimonials {
  color: #000000;
}

.training-grounds {
  color: #000000;
}

.contact {
  color: #000000;
}