
body {
  /* used because the bg-dark is not pure black */
  background-color: #000000;
  font-family: Coolvetica;
  font-style: italic;
}

.navbar-toggler:hover .navbar-toggler-icon {
  transition: 0.3s ease-in-out;
  color: black !important;
}

.navbar-toggler:hover {
  transition: 0.3s ease-in-out;
  background-color: white;
  border: none;
}

.navbar-toggler:active {
  opacity: 40%;
  border:none;
}

.testimonials {
  color: #000000;
}

.training-grounds {
  color: #000000;
}

.contact {
  color: #000000;
}

.simple {
  color: rgb(136, 255, 0);
}

header a h4:active {
  color: red;
  transition: 0.2s ease-in-out;
}