
body {
  /* used because the bg-dark is not pure black */
  background-color: #000000;
  font-family: Coolvetica;
  font-style: italic;
}

.navbar-nav .nav-link:hover {
  color: blue;
}

.testimonials {
  color: #000000;
}

.training-grounds {
  color: #000000;
}

.contact {
  color: #000000;
}

header a h4 {
  font-family: 'Corporation Games';
  color: white;
}

header a h4:active {
  color: red;
  transition: 0.2s ease-in-out;
}